body{
	background-color: lightblue;
}

#display{
	width:162px;
	height: 50px;
	border: 1px solid black;
	margin-bottom: 5px;
	text-align:right;
}

.row{

}

.button{
	background-color: lightgreen;
	display:inline-block;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	text-align:center;
	transition: all 0.5s ease;
}

.button:hover{
	background-color: darkgreen;
}


.opp{
	background-color: red;
	}