.display {
    border: 1px solid #AAA;
    padding: 20px;
    font-size: 30px;
    width: 295px;
    text-align: right;
    height: 25px;
}

body{
	background-color: lightblue;
}
    
}

ul {
    margin: 0; 
    padding:0;
    overflow: hidden;
    border: 1px solid #CCC;
    width: 335px;
}

li {
    float: left;
    border: 1px solid green;
    background-color: black;
    color: yellow;
    padding: 20px;
    width: 25px;
    height: 20px;
    text-align: center;
}

